    
.details{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
    }
    a{
        text-align: center;
        text-decoration: none;
        color: white;
        &:hover {
            //color:#edc359;
            letter-spacing: 0.5px;
            transition: all 0.3s;
        }
    }
    span {
        //color: #edc359;
        color: #72a117;
    }
@media (max-width: 768px) {
    div {
        text-align: center;
    }
    .details {
        flex-direction: column;
        gap: 0.5rem;
    }
  }
          