.container {
  overflow: hidden;
}

.text {
  width: 100%;
  text-align: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.text span {
  color: var(--text-primary);
  font-weight: 600;
}

.carousel {
  width: 100%;
  overflow: hidden;
  padding-top: 3rem;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  width: max-content;
}
@media (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
  }
  